/* --- Importação da fonte usada --- */
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400;800&display=swap');

/* --- Resets --- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Variáveis --- */
:root {
    --dark-color: #2d2c2c;
    --blue-solid: #0d47a1; /* --rgb(13,71,161) */
    --blue-transparent: rgba(13, 71, 161, .7);
    --blue-transparent-alt: rgba(13, 71, 110, .7);
    --yellow-solid: #f39b00;
}

/* --- Estilos globais --- */
html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--dark-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

section {
    padding: 5rem 0;
}

/* --- Estilos reutilizáveis --- */
.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

/* --- Cabeçalho - estilos --- */
.header {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--blue-transparent);
    z-index: 999;
}

.header.active {
    background-color: var(--blue-solid);
}
 
.logo img {
    width: 70%;
}

.logo-rodape img {
    width: 40%;
}

.header-ofertas,
.header-livros,
.header-sobre {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--blue-solid);
    z-index: 999;
}

/* --- Estilos do cabeçalho - nav --- */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu {
    font-size: 2.6rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1500;
}

.hamburger-menu .fa-times {
    display: none;
}

.menu-open .hamburger-menu .fa-times {
    display: block;
}

.menu-open .hamburger-menu .fa-bars {
    display: none;
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--blue-solid);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1400;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.menu-open .nav-list {
    opacity: 1;
    transform: scale(1);
}

.nav-item:not(:last-child) {
    margin-bottom: .5rem;
}

.nav-link,
.nav-link-ofertas,
.nav-link-livros,
.nav-link-sobre {
    display: block;
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
}

/* --- Estilos da Home --- */
.home {
    width: 100%;
    height: 100vh;
    background: url('../imagens/home.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: var(--blue-transparent-alt);
    z-index: -1;
}

.texto-home {
    color: #fff;
    line-height: 1;
    text-shadow: 1px 1px 1rem rgba(0,0,0,.5);
    margin-bottom: 2.5rem;
}

.titulo-secao {
    text-align: center;
    margin-bottom: 5rem;
}

.titulo-ofertas,
.titulo-livros,
.titulo-sobre {
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
}

.titulo {
    font-size: 6rem;
    /* text-transform: uppercase; */
    font-weight: 100;
    letter-spacing: 4px;
    font-family: 'Courgette', cursive;
}

.subtitulo {
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Courgette', cursive;
}

/* --- Pesquisa Livros/Ofertas Estilos --- */
.busca-livros,
.busca-ofertas {
    background-color: #C79CE8;
    padding: 0;
    height: 7rem;
}

.busca-livros {
    background-color: rgba(0, 182, 48, .4);
}

.container-pesquisa {
    display: flex;
    justify-content: right;
    width: 35vw;
    padding: 1.5rem;
    float: right;
}

.area-pesquisa {
    display: inline-flex;
}

.input-pesquisa {
    outline: none;
    width: 30rem;
    height: 3.8rem;
    border: none;
    padding-left: 1rem;
}

.btn-pesquisar {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    width: 15rem;
    height: 3.8rem;
    text-transform: uppercase;
    border: none;
    letter-spacing: .3rem;
    cursor: pointer;
    background-color: #1a237e;
}

.btn-pesquisar:hover {
    color: #fff;
    background-color: #1E0449;
}

::placeholder {
    color: inherit;
}

/* --- Lançamentos - estilos --- */
.titulo-lancamento-wrap {
    text-align: center;
    margin-bottom: 5rem;
}

.titulo-lancamento {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
}

.subtitulo-lancamento {
    font-size: 1.9rem;
    font-family: 'Courgette', cursive;
    font-weight: 300;
    color: #a5a5a5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lancamento-livro {
    height: 65rem;
    color: #fff;
    padding: 1rem;
    position: relative;
}

.img-lancamento {
    width: 100%;
    height: 80%;
    object-fit: fill;
    position:inherit;
}

.nome-livro-lancamento,
.autor-livro-lancamento {
    font-size: 1.4rem;
    color: #000;
}

.preco-livro-lancamento {
    font-size: 1.8rem;
}

/* --- Quem Somos? - Estilos --- */
.titulo-secao-sobre {
    text-align: center;
    padding: 2rem 0;
}

.conteudo-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    margin: 3rem 0;
    box-shadow: .1rem .1rem .1rem .2rem var(--yellow-solid);
}

.texto-sobre {
    width: 90%;
    flex: 0 0 45%;
    margin: auto;
    line-height: 2.5rem;
}

.imagem-sobre {
    display: none;
}

.paragrafo-sobre {
    color: #000;
    margin-bottom: 5px;
    text-indent: 3vw;
    text-align: justify;
}

/* --- Livros Estilos --- */
.pagina-livros {
    background-color: rgba(0, 182, 48, .4);
}

.pagina-ofertas {
    background-color: #c79ce8;
}

.pagina-livros,
.pagina-ofertas {
    padding-top: 0;
}

.pagina-sobre {
    padding: 3vh 0;
}

.livros {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-3 {
    position: relative;
    padding: 10px;
    width: 300px;
    height: 350px;
    margin-bottom: 20rem;
    text-align: center;
}

.col-3 img {
    width: 80%;
    height: 100%;
}

.btn-comprar {
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    width: 230px;
    text-transform: uppercase;
    border: none;
    letter-spacing: .3rem;
    padding: 1rem 4rem 1rem 4rem;
    margin-top: 2px;
    cursor: pointer;
    background-color: var(--yellow-solid);
}

.btn-comprar:hover {
    color: #fff;
    /* border: 1px solid #000; */
    background-color: #f36200;
}

.livro-dados {
    margin-top: 2rem;
}

.imagem-livro {
    width: 100%;
    height: 100%;
}

.desconto-livro {
    font-size: 1.5rem;
    letter-spacing: .2rem;
    background-color: red;
    color: #fff;
    padding: .5rem .5rem;
    position: absolute;
    left: 8;
    top: 0;
    z-index: 10;
}

/* --- Estilos do Rodapé --- */
.footer {
    padding: 1rem 0;
    background-color: var(--blue-solid);
    color: #fff;
}

.footer-logo {
    padding: .5rem 0;
}

.footer-titulo {
    text-transform: uppercase;
    margin-top: 2rem;
}

.social-media-wrap {
    display: flex;
    padding: .5rem 0;
}

.social-media {
    display: flex;
    margin-left: 1rem;
    padding: 1rem;
}

.sm-link {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border: 2px solid var(--yellow-solid);
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
    transition: background-color .5s;
}

.sm-link:hover {
    background-color: var(--yellow-solid);
    color: var(--dark-color);
}

.sm-link i {
    margin: auto;
}


/* --- Media queries --- */
@media screen and (max-height: 580px) {
    /* --- Sobre Imagem --- */
    .imagem-sobre {
        height: 80%;
        width: 70%;
    }
}

@media screen and (max-height: 450px) {
    /* --- Sobre Imagem --- */
    .imagem-sobre {
        height: 60%;
    }
}

@media screen and (max-width: 768px) {
    .input-pesquisa {
        width: 21rem;
    }
    .btn-pesquisar {
        font-size: 12px;
        width: 12rem;
        letter-spacing: .2rem;
    }
    .conteudo-sobre {
        height: 80%;
    }
    .texto-sobre {
        min-width: 80vw;
        padding: 2rem;
    }
}
@media screen and (min-width: 768px) {
    .header {
        height: 10rem;
    }
    .header.active {
        height: 6rem;
    }
    /* --- Home - estilos --- */
    .titulo {
        font-size: 7rem;
        letter-spacing: 3px;
        padding: 1rem;
    }
    .subtitulo {
        font-size: 6rem;
        letter-spacing: 2px;
        padding: 2rem;
    }
    /* --- Pesquisa Livros/Ofertas Estilos --- */
    .area-pesquisa {
        display: flex;
    }
    /* --- Sobre Imagem --- */
    .imagem-sobre {
        display: flex;
        width: 90%;
        flex: 0 0 45%;
        margin: auto;
    }
    .imagem-sobre img {
        display: flex;
        width: 90%;
        height: 90%;
        margin: auto;
    }
    /* --- Estilos do Rodapé --- */
    .footer {
        overflow-x: hidden;
    }
    .footer-content {
        display: flex;
    }
    .footer-logo {
        margin-bottom: 0;
        flex: 0 0 60%;
    }
    .footer .paragrafo-sobre {
        margin-top: 2.5rem;
    }
    .footer-titulo {
        font-size: 2rem;
        letter-spacing: .3rem;
    }
}

@media screen and (min-width: 1000px) {
    /* --- Cabeçalho Estilos --- */
    .hamburger-menu {
        display: none;
    }
    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        flex-direction: row;
        justify-content: initial;
        opacity: 1;
        transform: scale(1);
    }
    .nav-item:not(:last-child) {
        margin-right: 3rem;
        margin-bottom: 0;
    }
    .nav-link {
        font-size: 1.8rem;
        font-weight: normal;
        transition: color .5s;
    }
    .nav-link:hover,
    .nav-link-ofertas:hover,
    .nav-link-livros:hover,
    .nav-link-sobre:hover  {
        color: var(--yellow-solid);
    }
    .nav-link-ofertas,
    .nav-link-livros,
    .nav-link-sobre {
        font-size: 1.5rem;
        font-weight: normal;
        transition: color .5s;
    }
    /* --- Home - estilos --- */
    .titulo {
        font-size: 10rem;
        letter-spacing: 5px;
        padding: 1rem;
    }
    .subtitulo {
        font-size: 6rem;
        letter-spacing: 3px;
        padding: 1rem;
    }
    /* --- Livros Estilo Grid --- */
    .livros-grid {
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        grid-gap: 8rem;
        background-color: pink;
    }
}